.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--welcome-nav-gap);
    >.card {
        flex: 1;
        background: var(--welcome-card-bg);
        border-radius: 8px;
        padding: 16px;
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .tips {
            width: 128px;
            height: 128px;
            border: 1px black solid;
        }
        .tipsText {
            margin-top: 40px;
            font-size: 32px;
        }
    }
    >.actions {
        position: fixed;
        height: var(--welcome-nav-height);
        z-index: var(--z-index-bottom-nav);
        background: var(--welcome-bg-end);
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--welcome-actions-text);
        padding-bottom: var(--welcome-nav-gap);
        padding-left: 16px;
        padding-right: 16px;
        >.fake {
            visibility: hidden;
        }
    }
}