.mask {
    width: 100%;
    height: calc(100% - var(--top-safe-area-height));
    position: fixed;
    top: var(--top-safe-area-height);
    left: 0;
    z-index: var(--z-index-nav-overlay);
    background: var(--overlay-mask-bg);
}

.email {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay {
    width: 16em;
    height: calc(100% - var(--top-safe-area-height));
    position: fixed;
    top: var(--top-safe-area-height);
    left: 0;
    z-index: calc(var(--z-index-nav-overlay) + 1);
    background: var(--overlay-bg);
}

.currentUser {
    padding: 32px 16px;
    background: var(--overlay-user-bg);
    color: var(--overlay-user-text);
}

.action {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 16px;
    color: var(--text);
    &_list {
        padding-top: 16px;
        font-size: 20px;
    }
    &_Item {
        height: 48px;
        .icon {
            margin-top: 8px;
            margin-right: 12px;
            vertical-align: bottom;
        }
    }
}