.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #fff 0%, #00796B 100%);
    > header{
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #003366;
        .logo{
            width: 200px;
        }
    }

    > main{
        flex: 1;
        display: flex;
    }
}