:root {
    --welcome-card-bg: #fff;
    --welcome-actions-text: #fff;
    --welcome-bg-start: #fff;
    --welcome-bg-end: #00796B;
    --welcome-nav-height: 64px;
    --welcome-nav-gap: 8px;
    --z-index-bottom-nav: 8;
    --z-index-nav-overlay: 16;
    --transition-duration: 0.5s;
    --button-bg: #485b4d;
    --button-bg-danger: #c51244;
    --button-text: #fff;
    --button-font-size: 18px;
    --button-radius: 8px;
    --button-height: 48px;
    --float-button-text: #fff;
    --float-button-bg: var(--button-bg);
    --nav-bg-start: var(--welcome-bg-start);
    --nav-bg-end: var(--welcome-bg-end);
    --nav-text: #fff;
    --overlay-mask-bg: rgba(0, 0, 0, 0.5);
    --overlay-bg: #fff;
    --top-safe-area-height: 24px;
    --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
    --tag-bg: #eee;
    --tag-sign-border-color: var(--welcome-bg-end);
    --button-border-color: #ddd;
    --amount-text: #333;
    --emoji-nav-text: #ccc;
    --emoji-nav-text-selected: #000;
    --input-min-height: 40px;
    --input-border-color: var(--welcome-bg-end);
    --input-radius: 8px;
    --input-shadow: #ccc;
    --error-color: #c51244;
    --total-bg: #ccc;
    --sign-bg: #ccc
}